@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttf") format("truetype");
}

body {
  @apply bg-[#f8f9fa];
  font-family: Helvetica !important;
}

.box-center {
  @apply flex items-center justify-center;
}

.container-card {
  @apply p-4 bg-white rounded-[15px] shadow-smooth;
}

.flex-items-center {
  @apply flex items-center;
}

.title {
  @apply text-lg font-bold;
}

.bar-chart-bg {
  background: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
}
